<%- include('partials/header') %>

<div class="container bgd">
  <div class="jumbotron text-center">
    <h1 class="display-3">Your testimonial has been added!</h1>

    <a class="btn btn-dark btn-lg" href="/testimonials/all" role="button"
      >See all testimonials</a
    >
    <a class="btn btn-dark btn-lg" href="/" role="button">Back</a>

    <hr />
  </div>
</div>

<%- include('partials/footer') %>
