<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-3">Your testimonial!</h1>

    <p class="testimonial-text"><%testimonial.body%></p>

    <hr />

    <a class="btn btn-dark btn-lg" href="/" role="button">Back</a>
  </div>
</div>

<%- include('partials/footer') %>
