body {
  background-color: #f19dd0;
}

.bgd {
  background-color: #f19dd0;
}

.testimonial-text {
  text-align: center;
  font-size: 2rem;
  color: #8b1874;
}

.add-margin {
  margin-top: 20px;
}

.heart {
  color: red;
}
