<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-3">
      Welcome to She Code Africa Cloud School Testimonial page 🎉🎈
    </h1>
    <p class="lead">
      Students experiences at the SCA cloud school program cohort 4
    </p>
    <hr />
    <a class="btn btn-light btn-lg" href="/enter-testimonial" role="button"
      >Share your experience</a
    >
    <a class="btn btn-dark btn-lg" href="/testimonials/all" role="button"
      >See what others are saying</a
    >
  </div>
</div>

<%- include('partials/footer') %>
