<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron text-center">
    <h1 class="display-3">
      Testimonials of SCA Cloud School Cohort 4 Students
    </h1>

    <% testimonials.forEach(function(testimonial){ %>
    <h3 class="testimonial-text"><%= testimonial.author %></h3>
    <p class="testimonial-text"><%= testimonial.experience %></p>
    <% }); %>

    <hr />

    <a class="btn btn-dark btn-lg" href="/" role="button">Back</a>
  </div>
</div>

<%- include('partials/footer') %>
